<template>
<div class="app-content">
    <div v-if="messages.length > 0" class="alert alert-info">
        {{messages}}
    </div>
    <ul class="app-inputs">
        <li v-for="error in errors" :key="error.id">
            <div class="alert alert-danger">
                {{error}}
            </div>
        </li>
    </ul>

    <div id="app-loans">
        <div id="app-results-table">
            <h3>My Reading List</h3>
            <label for="checkbox">Show only ongoing loans</label>
            <input type="checkbox" id="app-checkbox" v-model="showChecked">
            <table class="table">
                <thead>
                    <th scope="col">Title</th>
                    <th scope="col">Code</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Extended</th>
                    <th scope="col">Action</th>
                </thead>
                <tbody>
                    <template v-for="(value,index) in availableBooks">
                        <tr v-if="!showChecked || (showChecked && new Date(value.due_date) > new Date())">
                            <th scope="row">{{value.title}}</th>
                            <td>{{value.code}}</td>
                            <td>{{value.start_date}}</td>
                            <td>{{value.due_date}}</td>
                            <td>{{value.times_extended}}</td>
                            <td><button v-if="(new Date(value.due_date)) > (new Date())" class="btn btn-primary" @click="extend(value)" v-bind:id="'app-item-button'+(index+1)">Extend</button></td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</div>
</template>

<script>
import axios from "axios";
import {Socket} from 'phoenix-socket'

export default {
    data: function() {
        return {
            messages: "",
            errors: [],
            availableBooks: [],
            selectedBook: null,
            showChecked: false,
            currentDate: new Date()
        }
    },
    methods: {
        extend: function (selectedItem) {
            this.errors = [];
            this.messages = "";
            this.selectedBook = selectedItem;

            axios.post('/api/books/extend', {
                params: {
                    book_id: this.selectedBook.id
                }
            }).then(response => {
                this.getItems();
                this.messages = response.data.msg;
            }).catch(error => {
                this.errors.push("The extension has been rejected");
                //this.errors.push(error);
                //console.log.error;
            });
        },
        getItems: function() {
            axios.get("/api/books")
                .then(response => {
                    this.availableBooks = response.data.books;
                    this.availableBooks.forEach(element => {
                        if (Date(element.due_date) > new Date()) {
                            element.old = false;
                        } else {
                            element.old = true;
                        }
                    });
                }).catch(error => {
                    console.log("Something went wrong");
                });
        }
    },

    mounted: function () {
        this.getItems();
    },
    updated: function() {
    }
}
</script>

<style>

    .app-inputs {
        list-style: none;
        padding-left: 0;
    }

    .app-content {
        position: relative;
    }

    .app-input-group {
        position: relative;
        margin-bottom: 0.3em;
    }

    .app-icon {
        cursor: pointer;
    }

    .app-large-btn {
        width: 100%;
        height: 3em;
        margin-bottom: 0.3em;
    }

    html, body {
        height: 100%;
        background-color: #f3f0ff;
    }

    .app-container {
        background-color: #FEFCFD;
        box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
        width: 70%;
        margin: 2em auto;
        padding: 1em;
    }

    .app-estimation {
        background-color: #E7ECF3;
        border-radius: 5px;
        font-size: smaller;
        padding: 0.7em;
    }

    .app-est {
        float: left;
        width: 50%;
    }

    ul.app-inputs .alert {
        margin-bottom: 0.3em;
    }

</style>